@import '~bootstrap/scss/bootstrap';
@import './partials/header';
@import './partials/footer';

img {
    max-width: 100%;
}

.hero {

    .hero-img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.section-comics {
    padding: 50px 0 0;
    background-color: rgb(43, 43, 43);
    position: relative;

    .tag-series {
        text-transform: uppercase;
        color: white;
        background-color: blue;
        position: absolute;
        padding: 10px 15px;
        top: -26px;
    }

    .thumb {
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: top;
    }

}

.detail {
    background-color: rgb(0, 145, 255);
    padding: 40px 0;
    margin-top: 20px;

    .detail-img {
        width: 50px;
        padding-right: 10px;
    }
}

.single-comic {
    position: relative;

    .comic-thumb {
        width: 150px;
        position: absolute;
        top: -190px;
        left: 100px;
    }
}