header {

    padding: 20px 0;

    .nav-bar {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: bold;

        .logo {
            width: 60px;
        }


        input {
            border: none;
            border-bottom: 2px solid blue;

            ::placeholder {
                text-align: right;
                color: red;
            }
        }
    }
}